---
layout: default
---
{%- assign images_base = "https://raw.githubusercontent.com/berkeley-udls/website-images/master" -%}

<article class="post">

  <header class="post-header">
    <h1 class="post-title">About UDLS</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <h2>Leadership Team</h2>
  <table>
  {%- assign leaders = site.speakers | where: 'leadership', true -%}
  {% for leader in leaders %}
    {% if site.core_team contains leader.short_name %}
      <tr>
        <td><img src="{{ images_base }}/{{ site.semester }}/{{ leader.short_name }}.jpg" alt=""></td>
        <td>
          <h3 style="margin-bottom: 0px;"><a href="{{ leader.homepage }}">{{ leader.name }}</a></h3>
          <p class="post-meta">{{ leader.email }}</p>
          <p>{{ leader.content }}</p>
        </td>
      </tr>
    {% endif %}
  {% endfor %}
  {% for leader in leaders %}
    {% unless site.core_team contains leader.short_name %}
      <tr>
        <td><img src="{{ images_base }}/{{ site.semester }}/{{ leader.short_name }}.jpg" alt=""></td>
        <td>
          <h3 style="margin-bottom: 0px;"><a href="{{ leader.homepage }}">{{ leader.name }}</a></h3>
          <p class="post-meta">{{ leader.email }}</p>
          <p>{{ leader.content }}</p>
        </td>
      </tr>
    {% endunless %}
  {% endfor %}
  </table>

  <br />

  <h2>Past Speakers</h2>
  <ul>
    {% for speaker in site.speakers %}
      {%- assign filtered_posts = site.lectures | where: 'speaker', speaker.short_name -%}
      {% if filtered_posts.size > 0 %}
        <li>
            <p><a href="{{ speaker.url }}">{{ speaker.name }}</a></p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</article>
