---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <br />

  {%- if lectures.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Past Lectures" }}</h2> -->
    {% assign semester = page.semester or site.semester %}
    {% assign lectures = site.lectures | sort: 'date' | reverse | where:"semester",semester %}
    <ul class="post-list">
      {%- for lecture in lectures -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- assign speaker = site.speakers | where: 'short_name', lecture.speaker | first -%}
        <span class="post-meta">
          {{ lecture.date | date: date_format }} &middot; <a href="{{speaker.url}}">{{ speaker.name }}</a>
          {%- if lecture.recording -%}
            &nbsp;&middot; <a href="{{lecture.recording}}" target="_blank">Recording</a>
          {%- endif -%}
        </span>
        <h3>
          <a class="post-link" href="{{ lecture.url | relative_url }}">
            {{ lecture.title | escape }}
          </a>
        </h3>
        <!-- {%- if site.show_excerpts -%}
          {{ lecture.excerpt }}
        {%- endif -%} -->
      </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
  <p>Past and scheduled lectures will be listed here :)</p>
  {%- endif -%}

</div>
