---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <br />

  {%- if site.lectures.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Past Lectures" }}</h2> -->
    {% assign lectures = site.lectures | sort: 'date' | reverse %}
    <ul class="post-list">
      {%- for lecture in lectures -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- assign speaker = site.speakers | where: 'short_name', lecture.speaker | first -%}
        <span class="post-meta">{{ lecture.date | date: date_format }} &middot; <a href="{{speaker.url}}">{{ speaker.name }}</a></span>
        <h3>
          <a class="post-link" href="{{ lecture.url | relative_url }}">
            {{ lecture.title | escape }}
          </a>
        </h3>
        <!-- {%- if site.show_excerpts -%}
          {{ lecture.excerpt }}
        {%- endif -%} -->
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
